.mobilescreen {
  display: none;
}
.jiocinema-logo {
  height: 2rem;
  width: 2rem;
}
.mainnav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.mainnav-mobile {
  border: 2px solid aqua;
}
.mobile-top-nav {
  display: flex;
  /* margin-top: 1rem; */
}
.navjiocinema {
  color: white;
  font-weight: 750;
  font-size: 18px;
}
.navsubcribe {
  position: relative;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 17px;
  font-size: 13px;
  width: 96px;
  font-weight: 700;
  margin-top: 9px;
  padding: 0;
  height: 24px;
}
.subcribe {
  color: rgb(193, 163, 98);
  text-align: center;
}
.subcribe::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  left: 60px;
  top: -2.5px;
  border-radius: 80%;
  filter: blur(1px);
  background: rgb(255, 255, 255);
}
.subcribe::after {
  content: "";
  position: absolute;
  top: -2px;
  width: 40px;
  height: 2px;
  left: 44px;
  border-radius: 30%;
  background: linear-gradient(
    90deg,
    rgba(210, 196, 170, 0) 0%,
    rgb(255, 252, 244) 50.49%,
    rgba(226, 226, 226, 0) 100%
  );
}
.navforyou {
  color: white;
  border: 1.5px solid rgb(249, 249, 249);
  border-radius: 28px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 11px;
}
a.navforyou.nav-link {
  color: white !important;
}
.sport {
  margin-left: 13px;
  font-size: 13px;
  font-weight: 700;
}
a.sport.nav-link {
  color: white !important;
}
.movies {
  color: white;
  margin-left: 13px;
  font-size: 13px;
  font-weight: 700;
}
a.movies.nav-link {
  color: white !important;
}
.news {
  color: white;
  margin-left: 13px;
  font-size: 13px;
  font-weight: 700;
}
a.news.nav-link {
  color: white !important;
}
.tvshow {
  color: white;
  margin-left: 13px;
  font-size: 13px;
  font-weight: 700;
}
a.tvshow.nav-link {
  color: white !important;
}
.searchbar {
  width: 250px;
  border: 1px solid gray;
  background-color: black;
  border-radius: 20px;
  font-weight: 600;
  margin-left: 50px;
}
.searchbar::placeholder {
  color: lightgray;
}
.avtar {
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 60px;
  cursor: pointer;
}
.loginpage {
  display: flex;
  align-items: end;
  justify-content: end;
}

@media (max-width: 768px) {
  .mobile-top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navjiocinema {
    font-size: 14px;
    margin-left: -10%;
  }
  .navjiocinema > img {
    font-size: 16px;
    margin-left: 0%;
  }
  .navsubcribe {
    margin-left: -10px;
    margin-bottom: 10px;
  }
  /* .avtar {
    display: none;
  } */
  .navfor-phonescreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .mainnav-mobile {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1;
  }
  .mobilescreen {
    display: block;
  }
  .lapton-screen {
    display: none;
  }
  .navsubcribe {
    padding: 3px;
  }
}
