.editprofile-page{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}
.editprofile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 31vw;
}
.editprofile-button{
    background-color: black;
    border: none;
}
.editprofile-button-image{
background-color: black;
height: 25px;
width: 23px;
transform: rotate(90deg);
margin-right: 10px;
}
.editprofile-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
.edit-image{
    margin-top: 1rem;
    margin-right:7.7rem;
}
.editprofile-number{
    font-size: 15px;    
}
.editprofile-number-lable{
    margin-top: 2rem;
}
.editprofile-number-input{
   
   background-color: black;
   border: none;
   color: darkgray;
   border-bottom: 2px solid rgb(153, 43, 131) ;
   width: 30vw;
   /* margin-bottom: 30px; */

}

.editprofile-continue-btn{
    background-color:rgb(243, 65, 125);
    color: white;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* margin: 1rem 0; */
}
.editprofile-para{
    color: white;
    font-weight: 400;
    
}

/* .singupdetails{
    color:rgb(220, 29, 92) ;
} */
