.hotrightnow{
    width: 120%;
}
.title{
    color: white;
    text-align:start;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel .hotrightnowimg{
    
    margin: 0;
    height: 274px;
    width: 274px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.carousel .hotrightnowimg img{
    object-fit: cover;
}
.control-dots{
    display: none;
}
.slide{
    text-align: start;
}

.hotrightnow .carousel.carousel-slider{
    margin-left: -240px;
}
.hotrightnow .carousel .control-prev.control-arrow {
    margin-left: 235px;
}