.portraitcarousel{
    width: 143%;
}
.potraittitle{
    color: white;
    text-align:start;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.potraitsimg{
    height:18rem;
    width: 185px;
    margin-bottom: 10px;

}
.carousel .potraitsimg img{
    object-fit: cover;
    border-radius: 10px;
}
 
.portraitcarousel .carousel.carousel-slider{
    margin-left:-38rem;
    
   }
.portraitcarousel .carousel .control-prev.control-arrow {
    margin-left: 38rem;
    
}

.portraitcarousel .carousel .control-next.control-arrow {
    margin-right: 0.01rem;
    
}
.potrait-icon-button{
    background-color: black;
    border: none;
}
.potrait-icon{
   height: 24px;
   width: 24px;
   margin-right: 0.5rem;
   
}
