.allportrait-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;    
}
.allportrait-button{
    background-color: black;
    border: none;
    height: 2rem;
    width: 2rem;
    margin-bottom: 8px;
}
.allportrait-icon{
    height: 24px;
    width: 24px;
}
.allportrait-card{   
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;    
    padding: 10px 10px;
    column-gap:-2.5px;
    row-gap: 15px;
}
.allportrait-data{
    margin-left: 22px;
}
.allportrait-img{
    height: 18.4rem;
    width: 13.7rem;
    border-radius: 10px;
}

.allportrait-name{
    font-weight: 750;
    color: white;    
}
